/* css/style.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* If we have a header or sidebar, adjust accordingly */
#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
